{% extends 'base.html' %}

{% block content %}

{% load crispy_forms_tags %}


	<h3>Login</h3>
	<form method="POST">
		{% csrf_token %}
		{{ form|crispy }}   
		           
		<button class="btn btn-warning" type="submit">Login</button>
	</form>
	<p class="text-center">If you do not have an account, <a href={% url 'signup' %}>register</a> instead.</p>

  {% comment %} <p class="text-center">Forgot password? Reset  <a href= {% url 'password_reset' %}>here</a></p> {% endcomment %}





  {% endblock %}