{% extends 'base.html' %}

{% block content %}

{% load crispy_forms_tags %}



<h3>About</h3><p> Remember that moment when your hife told you to buy paint for your house "Finish Sauna"? Yes, I also did not know what that meant. That is why, following website was created. </p><p> It uses the most advanced AI in the world (GPT-3) to translate our wifes requirements into more understandable language.</p>
<p> Users can submit prompts that will be later translated into color that they represent. Each proposition will be validated by an admin. You can contact me via email wdymbh [at] diplabs.app</p> 




  {% endblock %}