{% extends 'base.html' %}






{% block content %}

{% load static %}
<link href="{% static 'assets/css/header.css' %}" rel="stylesheet">

<main>
{% for meme in memes %}

    <div class="bg-light me-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center overflow-hidden">
      <div class="my-3 p-3">
        <a href="/{{ meme.id }}/"><h2 class="display-5">{{ meme.title }}</h2> </a>
        <p class="lead">What do you mean by <i> {{ meme.prompt }}</i>, honey?</p>
      </div>
      <div class="shadow-sm mx-auto" style="background-color:{{ meme.pantone }}; width: 80%; height: 150px; border-radius: 21px 21px 21px 21px;">
      
      </div>
      
      <div class="my-3 p-3">
        <p class="display-10">Added on {{ meme.add_date }} by {{ meme.add_by }} </p>
      </div>

    </div>

{% endfor %}

<center>
{% if memes.has_previous %}
    
    <a href ="?page={{memes.previous_page_number}}"> <button type="button" class="btn btn-warning">PREVIOUS</button> </a>
{% endif %}

{% if memes.has_next %}
  
  <a href ="?page={{memes.next_page_number}}"> <button type="button" class="btn btn-warning">NEXT</button> </a>
   

{% endif %}
<BR>
Page  <a href ="?page=1">{{ memes.number }} </a> of <a href="?page={{memes.paginator.num_pages }}"> {{ memes.paginator.num_pages }} </a>

</center>









</main>


  {% endblock %}