{% extends 'base.html' %}

{% block content %}

{% load crispy_forms_tags %}


            
  

<h3> Submit a new prompt</h3>
     {% if user.is_authenticated %}

        {% if subbmitted %}
        Thank you for submitting your meme. It waits for authorization from our admins.
            {% comment %} <div class="alert alert-success" role="alert">
             
            </div> {% endcomment %}
        {% else %}

            <form action="" method=POST>
              {% csrf_token %}
                {{ form|crispy}}
              <input type="submit" value="Submit" class="btn btn-warning">
            
            
              </form>
        {% endif %}


        <p class="p-2 text-warning">
          *Every submitted prompt will be validated by an admin before pushing to GPT-3. Aggressive, vulgar or inappropriate prompts will be dismissed.
        </p>


  {% else %}
  
  
        <p> You must be logged in to submit a prompt</p>

        
  
  {% endif %}
  
  

  {% endblock %}